/* Style your dropdown below! */
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    border-style: solid;
    border-width: 1px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Open Sans';
    width: 400px;
}

#toggle {
    color: white;
    background-color: brown;
    padding: 10px;
    cursor: pointer;
}

img {
    width: 20px;
    padding-left: 5px;
    transform: rotateX(180deg);
}

.rotate {
    transform: rotateX(360deg);

}

li {
    border-top-style: solid;
    border-width: 1px;
    padding: 10px;
    /* cursor: pointer; */
}